*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Summary_minor_box{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}